<div class="content" style="border: 1xp solid red">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title mb-3">Items from Order #{{ order.id }}</h4>
            <table class="table mb-0">
              <thead class="table-light">
                <tr>
                  <th scope="col">Item</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Price</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                @for (item of order.cart; track item) {
                <tr>
                  <td>{{ item.cake?.name }}</td>
                  <td>{{ item.quantity }}</td>
                  <td>${{ item.price }}</td>
                  <td>${{ item.total }}</td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title mb-3">Order Summary</h4>

            <div class="table-responsive">
              <h5>
                Order Status: @if(order.completed) {
                <strong>Completed</strong>
                } @if(!order.completed) {
                <strong>Open</strong>
                }
              </h5>
              @if(!order.completed) {
              <a
                target="_blank"
                rel="noopener noreferrer"
                class="btn btn-primary"
                style="margin-bottom: 20px"
                (click)="changeOrderStatus()"
                >Change status to completed</a
              >
              }
              <table class="table mb-0">
                <thead class="table-light">
                  <tr>
                    <th>Description</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Grand Total :</td>
                    <td>${{ order.order_summary?.subtotal }}</td>
                  </tr>
                  <tr>
                    <td>Delivery Charge :</td>
                    <td>${{ order.order_summary?.delivery_charge }}</td>
                  </tr>

                  <tr>
                    <th>Total :</th>
                    <th>${{ order.order_summary?.total }}</th>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- end table-responsive -->
          </div>
        </div>
      </div>
      <div class="col-12">
        <p class="mt-4"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title mb-3">Shipping Information</h4>

            <h5>{{ order.shipping_info?.name }}</h5>

            <address class="mb-0 font-14 address-lg">
              {{ order.shipping_info?.address_1 }} <br />
              {{ order.shipping_info?.address_2 }} <br />
              <abbr title="Phone">Phone: {{ order.user?.phone }}</abbr>
            </address>
          </div>
        </div>
      </div>
      <!-- end col -->

      <div class="col-lg-4">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title mb-3">Billing Information</h4>

            <ul class="list-unstyled mb-0">
              <li>
                <p class="mb-2">
                  <span class="fw-bold me-2">User name:</span>
                  {{ order.user?.name?.toUpperCase() }}
                </p>
                <p class="mb-2">
                  <span class="fw-bold me-2">Phone:</span>
                  {{ order.user?.phone }}
                </p>
                <p class="mb-2">
                  <span class="fw-bold me-2">Email:</span>
                  {{ order.user?.email }}
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title mb-3">Payment Information</h4>

            <ul class="list-unstyled mb-0">
              <li>
                <p class="mb-2">
                  <span class="fw-bold me-2">Payment Type:</span> Credit Card
                </p>
                <p class="mb-2">
                  <span class="fw-bold me-2">Account Number:</span>
                  {{ order.payment_info?.account_number }}
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
