<div class="sidenav">
  <div class="login-main-text">
    <h2>
      Application<br />
      Login Page
    </h2>
    <p>Login or register from here to access.</p>
    <ul>
      @for (item of (item$ | async); track item) {
      <li>{{ item.name }}</li>
      }
    </ul>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="login-form">
      <form>
        <!-- <div class="form-group">
          <label>User Name</label>
          <input type="text" class="form-control" placeholder="User Name" />
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" placeholder="Password" />
        </div> -->
        <button
          type="button"
          class="btn btn-black d-flex align-items-center"
          (click)="login()"
        >
          <img class="g-icon" src="assets/img/google-svgrepo-com.svg" /> &nbsp;
          Login
        </button>
        <!-- <button type="submit" class="btn btn-secondary">Register</button> -->
      </form>
    </div>
  </div>
</div>
